.container {
    width: 75%;
    margin: 0 auto;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
.product-item {
    background-color: cornsilk;
    width: 150px;
    margin: 10px;
    border: 1px solid black;
}
.product-img {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 70%;
}